#define base00 #181818
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #b8b8b8
#define base05 #d8d8d8
#define base06 #e8e8e8
#define base07 #f8f8f8

#define base08 #ab4642
#define base09 #dc9656
#define base0A #f7ca88
#define base0B #a1b56c
#define base0C #86c1b9
#define base0D #7cafc2
#define base0E #ba8baf
#define base0F #a16946

#define red #ab4642
#define orange #dc9656
#define yellow #f7ca88
#define green #a1b56c
#define cyan #86c1b9
#define blue #7cafc2
#define purple #ba8baf
#define brown #a16946

#define rofibg argb:dd181818
#define none argb:00000000

! Rofi
rofi.lines: 5
rofi.modi: window,run
rofi.bw: 0
rofi.eh: 1

!! Theme
rofi.color-enabled: true
rofi.font: Hack Nerd Font 18
rofi.hide-scrollbar: true
rofi.separator-style: solid

rofi.columns: 1
rofi.width: 100
rofi.padding: 500

!! Colors           bg       fg       bgalt    hlbg     hlfg
rofi.color-normal:  none,    base05,  none,    none,    green
rofi.color-active:  none,    blue,    none,    blue,    base00
rofi.color-urgent:  none,    red,     none,    red,     base00

!! Rofi window      bg       border   sep
rofi.color-window:  rofibg,  none,  base07

*.faceName: Hack Nerd Font Regular:size=11
*.termName: xterm-256color

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07
