[apply]
  whitespace = nowarn

[color]
  branch = auto
  diff = auto
  status = auto

[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore_global

[credential]
	helper = cache --timeout 604800

[help]
  autocorrect = 1

[merge]
  tool = vimdiff

[push]
  default = current

[url "git@github.com:"]
  insteadOf = https://github.com/

[user]
  name = Julienne Rostand
  email = jrostand@users.noreply.github.com
